#face {
  -fx-fill: radial-gradient(radius 180%, #3b4252, derive(#3b4252, -30%), derive(#3b4252, 30%));
  -fx-stroke: derive(#3b4252, -45%);
  -fx-stroke-width: 5;
  -fx-effect: dropshadow(three-pass-box, grey, 10, 0, 4, 4);
}

#hourHand {
  -fx-stroke: #b48ead;
  -fx-stroke-width: 4;
  -fx-stroke-line-cap: round;
}

#minuteHand {
  -fx-stroke: derive(#b48ead, -5%);
  -fx-stroke-width: 3;
  -fx-stroke-line-cap: round;
}

#secondHand {
  -fx-stroke: derive(#d8dee9, -15%);
  -fx-stroke-width: 2;
  -fx-stroke-line-cap: round;
}

#spindle {
  -fx-fill: derive(#a3be8c, +5%);
}

.tick {
  -fx-stroke: derive(#ebcb8b, -15%);
  -fx-stroke-width: 3;
  -fx-stroke-line-cap: round;
}